@import '../utilities/variables';

.cardPersonalizada {
    border-radius: 10%;
    background-color: nth($paleta-colores, 2);
    width: 18rem;

    &:hover {
        transform: translateY(-12px);
        box-shadow: 0 20px 16px rgba(0, 0, 0, 0.2);
    }
}