@import '../utilities/mixins';

.medios {
    @include flex-row();
    justify-content: space-between;
    padding: 50px;
}

.mediosPago,
.mediosEnvios {
    @include flex-row();
    margin: 10px;
    align-items: center;

    img {
        width: 60px;
    }

    h3 {
        font-size: 1rem;
    }
}